.display {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 sütunlu grid düzeni */
    gap: 20px; /* Fotoğraflar arasındaki boşluk */
  }
  
  .lesson {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .lesson-img-and-name {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .lesson-img-and-name img {
    width: 100%;
    height: auto;
    border-radius: 10px;
  }
  
  .lesson-name {
    text-align: center;
    font-size: 16px;
    margin-top: 10px;
  }
  
  .progress {
    margin-top: 10px;
  }